header {
    background-color: #444;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .logo img {
    width: 150px; /* Adjust this based on the desired logo width */
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
